@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: var(--foreground);
  background: var(--background);
  font-family: "helvetica-neue-lt-pro", sans-serif;
  cursor:
    url("/hand_cursor_2.png") 10 0,
    auto;
  scroll-padding-top: 80px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Helvetica Mobile Title */
@media (max-width: 639px) {
  .mobile-title {
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Helvetica Mobile Subtitle */
@media (max-width: 639px) {
  .mobile-subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.2px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/Mobile H1 */
@media (max-width: 639px) {
  .sl-h1-mobile {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: #e3e4cb;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -2.4px;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/Mobile H2 */
@media (max-width: 639px) {
  .sl-h2-mobile {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.36px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/Mobile H3 */
@media (max-width: 639px) {
  .sl-h3-mobile {
    -webkit-text-fill-color: #e3e4cb;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.12px;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/Mobile H4 */
@media (max-width: 639px) {
  .sl-h4-mobile {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/Mobile H5 */
@media (max-width: 639px) {
  .sl-h5-mobile {
    -webkit-text-fill-color: #e3e4cb;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Mobile/P */
@media (max-width: 639px) {
  .sl-p-mobile {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;

    background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    -webkit-background-clip: text;
    text-shadow: -3px 2px 4px #000;
  }
}

/* Mobile/P2 */
@media (max-width: 639px) {
  .sl-p2-mobile {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;

    background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    -webkit-background-clip: text;
    text-shadow: -3px 2px 4px #000;
  }
}
/* Mobile/Nav Menu */
@media (max-width: 639px) {
  .mobile-nav-menu {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    -webkit-text-fill-color: #e3e4cb;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -3px 2px 4px #000;
  }
}
/* Helvetica Desktop Body */
.desktop-body {
  filter: blur(0.75px);
}

/* Helvetica Desktop Title */
@media (min-width: 640px) {
  .desktop-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.56px;

    -webkit-text-fill-color: #e3e4cb;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Desktop/P1 */
@media (min-width: 640px) {
  .sl-p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    -webkit-background-clip: text;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Desktop/P2 */
@media (min-width: 640px) {
  .sl-p2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;

    background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    -webkit-background-clip: text;
    text-shadow: -3px 2px 4px #000;
  }
}

@media (min-width: 640px) {
  .gradient-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.56px;
    line-height: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

@media (min-width: 640px) {
  .sl-list-item {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: #e3e4cb;

    text-shadow: -5px 4px 5px #000;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000;
  }
}

/* Desktop/H1 */
@media (min-width: 640px) {
  .sl-h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: #e3e4cb;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.56px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Desktop/H2 */
@media (min-width: 640px) {
  .sl-h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.6px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Desktop/H3 */
@media (min-width: 640px) {
  .sl-h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000;

    -webkit-text-fill-color: #e3e4cb;
    text-shadow: -5px 4px 4px #000;
  }
}

/* Desktop/H4 */
@media (min-width: 640px) {
  .sl-h4 {
    -webkit-text-fill-color: #e3e4cb;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -5px 4px 4px #000;
    -webkit-text-stroke-width: 0.75px;
  }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1024px) {
  .sl-h1-tablet {
    font-size: 54px !important;
  }
  .sl-h2-tablet {
    font-size: 30px !important;
  }

  .sl-h4-tablet {
    font-size: 20px !important;
  }

  .sl-h5-mobile {
    font-size: 36px !important;
  }

  .sl-h5-tablet {
    font-size: 20px !important;
  }

  .sl-p-mobile {
    font-size: 15px !important;
  }

  .sl-h2-tablet {
    font-size: 32px !important;
  }

  .sl-h3-tablet {
    font-size: 28px !important;
  }
}

.text-stroke-lg {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.hover-fill-neon:hover {
  -webkit-text-fill-color: #e6fc6d;
  -webkit-text-stroke-width: 0px;
}

/* VHS screen wrapper */
.vhs-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VHS text effect */
.vhs-text {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
  /* position: relative; */
  /* text-transform: uppercase; */
  /* text-align: center; */
  filter: blur(1px);
  animation:
    flicker 1s infinite alternate,
    subtle-distortion 5s infinite ease-in-out;
  -webkit-text-stroke: 1px black;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    0px 0px 4px rgba(255, 255, 255, 0.25);
}

.vhs-text::before,
.vhs-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.vhs-text::before {
  color: rgba(255, 80, 80, 0.3);
  transform: translateX(-0.5px);
}

.vhs-text::after {
  color: rgba(80, 80, 255, 0.3);
  transform: translateX(0.5px);
}

.vhs-scrubber-text {
  color: #fff;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  font-family: "VCR OSD Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.96;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subtle-distortion {
  0% {
    transform: translateX(0px) skewX(0.2deg);
  }
  25% {
    transform: translateX(0.5px) skewX(-0.2deg);
  }
  50% {
    transform: translateX(-0.5px) skewX(0.1deg);
  }
  75% {
    transform: translateX(0.2px) skewX(-0.1deg);
  }
  100% {
    transform: translateX(0px) skewX(0.2deg);
  }
}

/* Static noise effect */
.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/TV_static_noise.gif");
  opacity: 0.02;
  mix-blend-mode: overlay;
  animation: static-flicker 1s infinite alternate;
}

@keyframes static-flicker {
  0% {
    opacity: 0.015;
  }
  100% {
    opacity: 0.03;
  }
}

/* Text Glow effect */

@layer utilities {
  .text-glow {
    -webkit-text-stroke: 1px #000000;
    text-shadow:
      0px 1px 2px rgb(0 0 0 / 0.2),
      0px 3px 2px rgb(0 0 0 / 0.2),
      0px 4px 8px rgb(0 0 0 / 0.2),
      0px 1px 2px rgb(0 0 0 / 0.2),
      0px 3px 2px rgb(0 0 0 / 0.2),
      0px 4px 8px rgb(0 0 0 / 0.2);
    filter: blur(0.5px);
  }
}

.text-glow-small {
  -webkit-text-stroke: 0.45px #000000;
  text-shadow:
    0px 1px 2px rgb(0 0 0 / 0.2),
    0px 3px 2px rgb(0 0 0 / 0.2),
    0px 4px 8px rgb(0 0 0 / 0.2),
    0px 1px 2px rgb(0 0 0 / 0.2),
    0px 3px 2px rgb(0 0 0 / 0.2),
    0px 4px 8px rgb(0 0 0 / 0.2);
  filter: blur(0.5px);
}

.text-glow-extra-small {
  -webkit-text-stroke: 0.25px #000000;
  text-shadow:
    0px 1px 2px rgb(0 0 0 / 0.2),
    0px 3px 2px rgb(0 0 0 / 0.2),
    0px 4px 8px rgb(0 0 0 / 0.2),
    0px 1px 2px rgb(0 0 0 / 0.2),
    0px 3px 2px rgb(0 0 0 / 0.2),
    0px 4px 8px rgb(0 0 0 / 0.2);
  filter: blur(0.3px);
}

/* Snap-To effect with GSAP */

.container-main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.safari .container-main {
  height: 100svh;
  overscroll-behavior-y: none !important;
  -webkit-overflow-scrolling: auto; /* disables momentum scroll on iOS */
}

.section-snap {
  scroll-snap-align: start;
  min-height: 100vh;
}

.section-snap.dummy-footer {
  min-height: 1px !important;
}

.eighties-glow {
  background: linear-gradient(180deg, #f2f3ea 0%, #e3e4cb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for non-webkit */
  filter: blur(1px);
}

.input-box-glow {
  opacity: 0.75;
  background: var(
    --Text-Gradient,
    linear-gradient(180deg, #f2f3ea 0%, #e3e4cb 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thank-you-glow {
  background: var(
    --Text-Gradient,
    linear-gradient(180deg, #f2f3ea 0%, #e3e4cb 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Helvetica Desktop Title */
  filter: blur(1.5px);
}

/* Menu Glow */
.menu-glow {
  text-shadow:
    -3px 2px 4px rgba(0, 0, 0, 0.25),
    -1px 0px 1px #d5a251,
    0px 0px 4px #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Menu Glow */
.menu-glow-blur {
  filter: blur(0.5px);
}

.input-border-stroke {
  border: var(--sds-size-stroke-focus-ring) solid var(--Text-Gradient, #f2f3ea);
}

/* .low-power-gradient {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.08),
      transparent 75%
    ),
    conic-gradient(
      from 32deg,
      #363863 0%,
      #190230 60%,
      #642148 120%,
      #363863 180%,
      #190230 360%
    );
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
} */

.low-power-image {
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url("/purple_gradient_image.png");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

/* Default: show animated background */
.animated-background {
  display: block;
}

.low-power-gradient,
.low-power-image {
  display: none;
}

/* Prefer static fallback on low-power or mobile */
@media (prefers-reduced-motion: reduce), (max-width: 768px) {
  .animated-background {
    display: none;
  }

  .low-power-gradient {
    display: block;
  }
}

.not-chrome .low-power-gradient,
.not-chrome .low-power-image {
  display: block;
}

/* Default: show SVG logo */
.logo-svg {
  display: block !important;
}
.logo-png {
  display: none !important;
}

/* Safari override */
.safari .logo-svg {
  display: none !important;
}
.safari .logo-png {
  display: block !important;
}
